html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue: rgba(33, 150, 243, 1);
  --blue-portfolio: rgba(33, 150, 243, 0.9);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-light-background: rgba(245, 244, 250, 1);
  --grey-light-op60: rgba(255, 255, 255, 0.6);
  --black-background: rgba(47, 48, 58, 1);
  --grey-background: #f5f4fa;
  --blue-logo: #2196f3;
  --black-text: #000000;
  --border: rgba(236, 236, 236, 1);
  --border-portfolio: rgba(238, 238, 238, 1);
  --social-background: rgba(255, 255, 255, 0.1);
  --backdrop: rgba(0, 0, 0, 0.2);
  --grey-border-form: rgba(33, 33, 33, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid transparent;
}

.list {
  list-style: none;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.header {
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--border);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-logo);
}

.logo-header,
.link {
  color: var(--black-text);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .item-nav {
  margin-right: 50px;
}

.auth-nav .item-nav + .item-nav {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--black-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link-nav:hover,
.auth-nav .link-nav:focus,
.logo:hover {
  color: var(--blue);
}

.link,
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav .link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--grey-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
}

.site-nav .link.current,
.auth-nav .link-nav.current {
  color: var(--blue);
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  border-radius: 2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  z-index: 1;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 15px;

  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--blue);
}

.form {
  width: 528px;
  /* outline: 1px solid var(--grey-background); */
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-text);
}

.form-modal {
  position: relative;
}

.form-field .form-input {
  margin: 0;
  padding: 10px 42px;
  border: 1px solid var(--grey-border-form);
  border-radius: 4px;
  font-size: 100%;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--blue);
}

.form-input:hover ~ .person-icon,
.form-input:focus ~ .person-icon {
  fill: var(--blue);
}

.person-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);

  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--white-text);
}

textarea {
  resize: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid var(--grey-border-form);
  border-radius: 4px;
  font-size: 20px;
}

.form-field textarea::placeholder {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:hover,
.textarea:focus {
  border-color: var(--blue);
}

.form-policy {
  display: flex;
  padding-left: 20px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
}

.form-policy label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  text-align: center;
  text-align: left;
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: var(--white-text);

  cursor: pointer;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
}

.checkbox-icon use {
  display: none;
}

.checkbox:checked + .checkbox-icon {
  border: none;
}

.checkbox:checked + .checkbox-icon use {
  display: block;
}

.check-policy {
  display: flex;
  margin-left: 10px;
}

.check-policy a {
  text-decoration: underline;
  color: var(--blue);
}

.form button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--blue);
  border-radius: 4px;
  padding: 10px 55px;
  margin: 0 auto;
  min-width: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

button {
  font-family: inherit;
}

.logo-footer {
  color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  display: block;
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.kontakts-down {
  color: var(--grey-light-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-mail {
  margin-top: 9px;
}

.down {
  background-color: var(--black-background);
}

.down .container {
  max-width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.atribut {
  padding: 60px 0;
}

.address {
  width: 231px;
}

.social {
  margin-left: 70px;
  padding-top: 72px;
  padding-bottom: 100px;
}

.footer {
  flex-direction: column;
}

.provide {
  color: var(--white-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.social-footer + .social-footer {
  margin-left: 10px;
}

.social-team {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--white-text);
  background-color: var(--social-background);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-team:hover,
.social-team:focus {
  color: var(--white-text);
  background-color: var(--blue);
}

.footer-icon {
  fill: currentColor;
}

.form-footer {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
}

.form-email {
  display: flex;
  justify-content: center;
}

.form-link {
  margin-left: 93px;
  padding-top: 72px;
  padding-bottom: 94px;
}

.form-link input {
  margin: 0;
  /* padding: 15px 16px; */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 20px;
  background-color: var(--black-background);
}

.form-link input::placeholder {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--grey-light-op60);
}

.form-email input {
  width: 358px;
}

.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text);
  background-color: var(--blue);
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;
  width: 200px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.send-icon {
  margin-left: 10px;
}
